<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxx5zKuOYQEOe_H3iuoq5IxkWVH_9WtBA</string>
	<key>GCM_SENDER_ID</key>
	<string>193899665871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baasVordlus</string>
	<key>PROJECT_ID</key>
	<string>baas-vordlus</string>
	<key>STORAGE_BUCKET</key>
	<string>baas-vordlus.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193899665871:ios:c7e70de343d4847b861aba</string>
</dict>
</plist>